[buildout]
parts = 
    zope2
    productdistros
    instance
    zopepy

# New: this will pick up version settings for all the components.
# Modify the "3.3.1" to match the version you're seeking.
find-links = http://dist.plone.org/release/3.3.1
extends = http://dist.plone.org/release/3.3.1/versions.cfg
versions = versions

# eggs: Plone is now specified in the egg section. All the
# dependencies are automatically handled.
eggs =
    Plone
    biopython
    biocomp.pscoils
    Cheetah
    z3c.sqlalchemy

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
    src/plone4bio.base
    src/plone4bio.pscoils
    src/biocomp.pscoils
    src/plone4bio.biosql
    src/plone4biotheme.base

[plone4bio]
eggs =
    plone4bio.base
    plone4bio.pscoils
    plone4bio.biosql
    plone4biotheme.base

[versions]
zope.testing = 3.7.7
Cheetah = 2.2.1

# zope part: Note the new fake-eggs settings. This is required
# for Zope dependencies to be resolved during buildout.
[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3
    pytz
skip-fake-eggs = zope.testing

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
http-address = 8080

eggs =
    ${buildout:eggs}
    ${plone4bio:eggs}

zcml =
    ${plone4bio:eggs}

products =
    ${buildout:directory}/products

extra-paths =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths =
    ${zope2:location}/lib/python
scripts = zopepy

[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages = 

