[buildout]
extends = 
    http://dist.plone.org/release/4.1-latest/versions.cfg
find-links =
    http://dist.plone.org/release/4.1-latest
    http://dist.plone.org/thirdparty
    http://plone4bio.org/dist
parts = 
    instance
    zopepy
versions = versions
eggs =
    biopython
develop =

[plone4bio]
eggs =
    plone4bio.base
    plone4bio.structure
    plone4bio.pscoils
    plone4bio.biosql
    plone4biotheme.base

[versions]
# Products.TinyMCE = 1.1.1
# zope.testing = 3.7.7
# Cheetah = 2.2.1
# hexagonit.recipe.download = 1.2.1
# Markdown = 2.0.3
# zope.schema = 3.6.4

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    ${buildout:eggs}
    Zope2
    Plone
    Products.PloneHotfix20110720
    Products.PloneHotfix20110531 == 2.0
    Products.Zope_Hotfix_20110622
zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

