[buildout]
parts = 
    zope2
    productdistros
    instance
    zopepy

# New: this will pick up version settings for all the components.
# Modify the "3.3.1" to match the version you're seeking.
find-links =
    http://dist.plone.org/release/3.3.4
#    http://pypi.python.org/simple
extends = http://dist.plone.org/release/3.3.4/versions.cfg
versions = versions

# eggs: Plone is now specified in the egg section. All the
# dependencies are automatically handled.
eggs =
    Plone
    biopython

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[plone4bio]
eggs =
    plone4bio.base
    plone4bio.pscoils
    plone4bio.biosql
    plone4biotheme.base

[versions]
# zope.testing = 3.7.7
# Cheetah = 2.2.1
hexagonit.recipe.download = 1.2.1
Markdown = 2.0.3

# zope part: Note the new fake-eggs settings. This is required
# for Zope dependencies to be resolved during buildout.
[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3
    pytz
skip-fake-eggs = zope.testing
                 zope.interface
                 zope.exceptions

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
http-address = 8080
user = admin:admin
eggs =
    ${buildout:eggs}
    Products.PloneHotfix20110720
zcml =
products =
    ${buildout:directory}/products
extra-paths =
    ${zope2:location}/lib/python

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths =
    ${zope2:location}/lib/python
scripts = zopepy

[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages = 

