<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mauro Amico" />
   <link rel="stylesheet" href="stylesheets/pygment_trac.css" type="text/css" />
   <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Biodec</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Plone4bio is a <a href="http://www.biodec.com">BioDec</a> project. 
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="mailto:info@biodec.com">info _at_ biodec.com</a><br />
        There is a mailing list available for discussion and help:
        <a href="http://ackbar.biodec.com/cgi-bin/mailman/listinfo/p4b"
            >http://ackbar.biodec.com/cgi-bin/mailman/listinfo/p4b</a>
      </p>
    </div>
    <div class="rss">
    </div>
  </div>
</div>

<a href="http://github.com/biodec/plone4bio"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3652698-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
